<h1>Sign In</h1>

<%= form_with url: sign_in_path do |form| %>
  <div class="mb-3">
    <%= form.text_field :username_or_email, placeholder: "Username or Email", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.password_field :password, placeholder: "Password", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Log In",  class: "btn btn-primary" %>
  </div>
<% end %>