<%= stylesheet_link_tag "form", "data-turbo-track": "reload" %>
<%= turbo_frame_tag "find_email" do %>
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 fw-bold">ConnectHub</h1>
  </div>
  <h3>You will receive an email with instructions on how to change your password.</h3>
<% end %>