<% if count > 0 %>
  <span id="bottom_rendered_notis" class="position-absolute translate-middle badge rounded-pill bg-danger" >
    <%= count %> 
  </span>
<% else %>
  <span id="bottom_rendered_notis" class="position-absolute translate-middle badge rounded-pill bg-danger" style="display: none">
  </span>
<% end %>