<% if count > 0 %>
  <span id="rendered_notis_<%= "#{bar}" %>" class="position-absolute translate-middle badge rounded-pill bg-danger" >
    <%= count %> 
  </span>
<% else %>
  <span id="rendered_notis_<%= "#{bar}" %>" class="position-absolute translate-middle badge rounded-pill bg-danger d-none"">
  </span>
<% end %>
