<div class="modal fade" id="exampleModal-requests" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">friend requests</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <% @user.received_friend_requests.pending.each do |request| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col d-flex justify-content-start">
                  <h3><%= link_to "@#{request.sender.username}", profile_user_path(request.sender), class: "link-light" %></h3>
                </div>
                <div class="col gap-2 d-flex justify-content-end">
                  <%= button_to "Accept", accept_friend_request_user_path(@user, request_id: request.id), method: :post, class: "btn btn-success btn-md" %>
                  <%= button_to "Reject", reject_friend_request_user_path(@user, request_id: request.id), method: :post, class: "btn btn-danger btn-md" %>
                </div>
              </div>
            </li class="list-group-item">
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>