
.material-icons-outlined {
  font-size: 48px;
}


.icon {
  justify-content: center;
}

body, html {
  height: 100%;
}

a {
  text-decoration: none;
}

.deleteModal, .modal-title {
  text-align: center;
}


.layout {
  max-width: 100%;
  margin: auto;
}

.main-layout {
  max-width: 100%;
  height: 920px;
}



.scrollarea {
  overflow-y: auto;
}

.chat-room::-webkit-scrollbar, .message_list::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .row.messaging {
    margin: auto;


    
    max-width: 100%;

    .left-bar {
      height: 100vh;
      .message_list {
        height: calc(100% - 80px);
      }
    }

    .right-bar {
      height: 100vh;
   
      .chat-room {
        height: calc(100% - 133px);
      }
    }
  }

  .card {
    margin: auto;
    height: calc(100vh - 162px);

    max-width: 100%;
  }
}


@media (min-width: 769px) {
  .row.messaging{
    margin: auto;
    height: calc(100vh - 125px);
    max-width: 100%;

    .left-bar {
      height: 100%;
      .message_list {
        height: calc(100% - 80px);
      }
    }

    .right-bar {
      height: 100%;
      .chat-room {
        height: calc(100% - 133px);
      }
    }
  }

  .card {
    margin: auto;
    height: calc(100vh - 125px);
    max-width: 100%; 
  }
}

.new-message {
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

.message:after {
  content: "";
  display: table;
  clear: both;
}

/* Add margin to separate messages */
.message {
  margin-bottom: 10px;
}

/* Style messages from the current user */
.message.me .content-container {
  float: right;
}

.message.me .content {
  background-color: blue;
  border-radius: 15px 15px 0 15px;
}

.message.me .time {
  float: right;
}

/* Style messages from other users */
.message .content-container {
  float: left;
}

.message .content {
  background-color: #3B3B3B;
  border-radius: 15px 15px 15px 0;
  padding: 10px;
  width: auto;
}

.message .time {
  float: left;
}


/* Set overflow-y to auto for the chat-room to enable scrolling */

.chat-box {

  width: 100%;
  input[type=text] {
    height: 45px;
    font-size: 18px;
   
  }
  .btn {
    height: 45px;
  }
}





